* 무료로 공부할 수 있는 파이썬 온라인 자료
* [The Python Tutorial — Python 3.7.4 documentation](https://docs.python.org/3/tutorial/index.html)
* [점프 투 파이썬 - WikiDocs](https://wikidocs.net/book/1)
* [강좌: 파이썬 코딩 도장](https://dojang.io/course/view.php?id=7)

## Zen of Python
* 파이썬의 철학이 잘 담겨있는 Zen of Python 을 출력해 봅니다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [4]:
# True를 출력해 보세요.
True

True

In [5]:
# False 를 출력해 보세요.
False

False

In [6]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
True == 1

True

In [7]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
False == 0

True

In [11]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == "1"

False

In [12]:
# 문자열 1과 True는 다릅니다.
"True" == 1

False

In [13]:
# False 도 마찬가지 입니다. 
False == "0"

False

In [14]:
# 문자열 0과 False는 다릅니다.
"False" == 0

False

In [15]:
# and 연산으로 True 값 끼리 비교합니다.
# and 는 모든 값이 True 일때만 True 가 됩니다.
True and True

True

In [16]:
# and 는 조건 중 하나라도 False 라면 False가 됩니다.
True and False

False

In [18]:
# or 는 하나만 True 라도 True가 됩니다.
True or False

True

## Number and String
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [19]:
# 숫자 1을 출력해 보세요.
1

1

In [20]:
# 문자 1을 출력해 보세요.
"1"

'1'

In [28]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1.0)

float

In [24]:
# 문자 1의 데이터 타입을 출력해 보세요.
type("1")

str

In [26]:
# 문자 1과 숫자 1을 비교합니다.
1 == "1"

False

## Strings and Lists
* https://docs.python.org/3/tutorial/introduction.html#strings
* https://docs.python.org/3/tutorial/introduction.html#lists

In [29]:
# "Hello World!" 를 출력해 봅니다.
"Hello World!"

'Hello World!'

In [30]:
# 주소 "서울시 마포구 공덕동" 을 출력해 봅니다.
"서울시 마포구 공덕동"

'서울시 마포구 공덕동'

|연산자|기능|
|--|--|
| == | 비교연산 |
| = | 할당연산 |

### strings

In [33]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"
til

'Today I Learned'

In [ ]:
# 소문자로 만들어 보세요.
# til.capitalize() 첫글자만 대문자 
 til.lower()# 다 소문자

In [ ]:
# 대문자로 만들어 보세요.
til.upper()

### lists

In [40]:
# 비어있는 리스트를 만듭니다.
type ([])

list

In [41]:
# 스타벅스와 이디야를 원소에 추가합니다.
["스타벅스", "이디야"]

['스타벅스', '이디야']

In [53]:
# cafe 라는 변수에 카페명을 담아봅니다.
cafe = ["스타벅스", "이디야", "폴바셋"]
cafe  # 출력을 원하면 한번더 cafe를 작성
print(cafe)

['스타벅스', '이디야', '폴바셋']

In [54]:
# cafe 라는 변수에 담겨있는 카페명을 인덱싱을 통해 가져옵니다.
cafe
# 0 부터 시작한다. ( 0 = 스타벅스, 1 = 이디야, 2=폴바셋)

['스타벅스', '이디야', '폴바셋']

In [55]:
# 1번 인덱스를 가져옵니다.
cafe[0]

'스타벅스'

In [57]:
# 마지막 인덱스를 가져옵니다.
# cafe[2]
cafe[-1]

'폴바셋'

### Control Flow
* [4. More Control Flow Tools — Python documentation](https://docs.python.org/3/tutorial/controlflow.html)
* 제어문 - 조건문, 반복문

In [59]:
# 반복문을 통해 리스트의 원소를 하나씩 출력합니다.
# for 변수 in 리스트:
# 제어문(:) 다음줄에는 꼭 들여쓰기된 문장이 한줄이상 있어야 합니다.
# 들여쓰기는 띄어쓰기 4개를 해야된다. 파이선 문법.

for c in cafe: 
    print(c)
    
# 들여쓰기 안한 예시)
# for c in cafe: 
# print(c)

스타벅스
이디야
폴바셋

In [60]:
# 위 코드에서 스타벅스일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다
# 출력 결과가 아래의 순서로 나오도록 합니다.
# 스타벅스
# 기타
# 기타

for c in cafe: 
    if c == "스타벅스":
        print(c)
    else:
        print("기타")

스타벅스
기타
기타

In [63]:
# range를 사용하면 for문의 반복수를 지정할 수 있습니다.
# (1, 5) 1 부터 10까지 
for i in range(1, 5):
    print(i)

1
2
3
4

In [65]:
# range 를 사용해 5번 for문을 반복하도록 하고 인덱스 번호가 짝수일 때 스타벅스를 홀수 일 때 이디야를 출력하도록 합니다.

# for i in range(5)는 오류가 난다 들여쓰기 문장이 없기 때문에

# 들여쓰기는 띄어쓰기 4개를 해야된다. 파이선 문법.

for i in range(5):
    print(i)

0
1
2
3
4

## 실습
* store 변수에 지점명을 담아줍니다.

In [67]:
store = ["서울역점", "공덕점", "마포점", "여의도점"]
store

['서울역점', '공덕점', '마포점', '여의도점']

In [70]:
# 스타벅스, 이디야의 위치를 지도에 표현할 때 사용합니다.
# 지점별로 print문을 통해 출력해 봅니다.

for s in store:
    #if c == "서울역점":
    print(s)

서울역점
공덕점
마포점
여의도점

In [71]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.

for i, s in enumerate(store):
    print(i, s)

0 서울역점
1 공덕점
2 마포점
3 여의도점

In [72]:
# 주소를 address 변수에 담습니다.
address = " 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층"
address

' 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [73]:
# strip 메소드를 사용해 공백을 제거합니다.
address = address.strip()

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [75]:
# 문자열의 길이
len(address)

33

In [80]:
# split을 사용해 address를 공백으로 문자열 분리하고 address_list 라는 변수에 담습니다.
# 도움말을 보고자 할 때는 ()안에서 shift + tab 키를 누릅니다.
# address.split()
address_list = address.split()
address_list

['서울특별시', '강남구', '역삼동', '강남대로94길', '15', 'S2빌딩', '3층']

In [81]:
# 리스트의 길이
len(address_list)

7

### 문자열
* 슬라이싱, startswith, in 을 통해 문자열에 서울이 있는지 확인하기

In [86]:
# 슬라이싱으로 문자 가져오기
address_list[1:3]

['강남구', '역삼동']

In [110]:
address

' 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [109]:
# startswith 를 사용하면 특정 문자로 시작하는지 여부를 확인할 수 있습니다.
address.startswith("서울")

False

In [88]:
address.startswith("경기")

False

In [92]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
# "서울" in adress_list
"서울특별시" in adress_list

NameError: name 'adress_list' is not defined

### 리스트
* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용할 수 있습니다. 
* 차이를 비교해 보세요.

In [94]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu 라는 변수에 담아보세요.
gu = address_list[1]
gu

'강남구'

In [95]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 동을 가져와 dong 이라는 변수에 담아보세요.
dong = address_list[2]
dong

'역삼동'

In [97]:
# 리스트의 마지막을 가져옵니다.
address_list[-1]

'3층'

In [101]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
# "" 이거 사이 어떤걸 지정 할건지.
" ".join(address_list)

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [102]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "서울"이 리스트에 포함되는지 봅니다.
"서울" in address_list

False

In [105]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "마포구"가 리스트에 포함되는지 봅니다.
"강남구" in address_list

True

### 리스트의 append 와 extend의 차이 보기

In [111]:
numbers = [1, 2, 3]
numbers

[1, 2, 3]

In [112]:
# append
numbers.append(4)
numbers

[1, 2, 3, 4]

In [130]:
# extend
numbers.extend(numbers)
numbers

[1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 [...],
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 [...]]

In [117]:
numbers.append(numbers)

In [118]:
numbers

[1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 [...]]

## Dictionaries
* https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [122]:
# dict 자료형 - key:value
weekday_map = {0:'월', 1:'화', 2:'수', 3:'목',
              4:'금', 5:'토', 6:'일'}
weekday_map

{0: '월', 1: '화', 2: '수', 3: '목', 4: '금', 5: '토', 6: '일'}

In [124]:
# 인덱싱 - key  값으로만 가져오고 index 번호로는 못 가져옵니다.
weekday_map[0]

'월'

In [125]:
# 길이
len(weekday_map)

7

In [127]:
# for 문으로 출력하기, 원소 번호와 요일 출력
for index, val in enumerate(weekday_map):
    print(index, weekday_map[val])

0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [129]:
# range를 활용한 요일 출력
for i in range(len(weekday_map)):
    print(weekday_map[i])

월
화
수
목
금
토
일